body{
  position: relative;
  min-height: 100vh;
}
.name {
  color: rgb(151, 142, 142);
}
.navbar {
  background-color: aqua;
  /* background-image: linear-gradient(rgba(174, 194, 78, 0.222),rgba(69, 219, 174, 0.31)white); */
}
#col1 {
  flex: 60%;
  padding: 10px;
  flex-direction: column;
}
#col2 {
  flex: 40%;
  padding: 40px;
  flex-direction: column;
}
.column-item {
  padding: 20px;
  margin: 20px;
}

#computer-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
#footer {
  height: 55px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(212, 124, 55, 0.131),
    rgba(174, 194, 78, 0.222),
    rgba(69, 219, 174, 0.31)
  );
}
#footer-item {
  font-size: medium;
}

#laptop-features{
  width: 30%;
}
