/* General styling */
body {
  /* setting body proportions and
  background image */
  position: relative;
  min-height: 100vh;
  background-image: url(images/bg-image.PNG);
}
a:link {
  /* removing underline from the links */
  text-decoration: none;
}
/* General styling end */

/* Navbar styling */
.navbar {
  /* setting a multicolor background 
  and an imported font for nav */
  background-image: linear-gradient(
    rgba(174, 194, 78, 0.222),
      rgba(69, 219, 174, 0.31),
      rgb(223, 223, 223)
  );
  font-family: "Share Tech Mono";
}
#nav-item {
  font-size: 45px;
}
/* Navbar styling end */

/* Main styling */
 
#col1 {
  /* setting col1 (work, bank, laptop select and laptop
   features) to flexbox and adjusting proportions */
  font-family: "Calibre";
  font-size: x-large;
  flex: 60%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.column1-item {
  /* setting margin and padding for 
  all column1 elements */
  padding: 20px;
  margin: 20px;
}
#laptops-select,
#features-section {
  flex: 50%;
}

#laptop-features {
  width: 30%;
  font-size: 20px;
  font-family: "Share Tech Mono";
}
#laptop-description,
#work-balance-text,
#bank-balance-text,
#loan-balance-text {
  font-size: 30px;
}
#work-balance,
#bank-balance,
#loan-balance {
  font-size: 35px;
}
#work-index,
#bank-index,
#loan-index {
  background-color: white;
  border: 10px groove rgba(158, 192, 181, 0.514);
}
#laptop {
  display: flex;
  flex-flow: row nowrap;
}

#col2 {
  /* setting col2 (computer section, price and buyNowBtn)
  to flexbox and adjusting proportions */
  flex: 40%;
  padding: 40px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around
}

#laptop-title {
  font: 55px italic;
  text-decoration: underline;
}
#laptop-image {
  /* adjusting image size to one-size */
  width: 650px;
  height: 450px;
}
/* Main styling end */

/* Footer styling */
#footer {
  /* "pinning" footer to the bottom,
  adjusting proportions and setting
  a multicolor background */
  height: 55px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgb(223, 223, 223),
    rgba(212, 124, 55, 0.131),
    rgba(174, 194, 78, 0.222),
    rgba(69, 219, 174, 0.31)
  );
}

#footer-item {
  font-size: large;
  font-weight: bolder;
}
/* Footer styling end */
