.name{
    color: rgb(110, 110, 110);
}
footer{
margin-top: 10px;
position: absolute;
bottom: 0;
width: 100%;
align-items: center;
background-image: linear-gradient(rgba(174, 194, 78, 0.222),rgba(69, 219, 174, 0.31));
}
#row1 {
    flex: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
#row2 {
    flex: 40%;
    padding: 10px;
    flex-direction: column;
}

.buy-button1,
.buy-button2,
.buy-button3{
    background: #aaaaaa;
    margin: 5px 5px;
    height: 40px;
    width: auto;
    opacity: 0.6;
    transition: 0.3s;    
}
.buy-button1:hover,
.buy-button2:hover,
.buy-button3:hover{
    opacity: 10;
}
/* .buy-button1:active,
.buy-button2:active,
.buy-button3:active{
    color: black;
} */